del *.nupkg

.\packages\NuGet.CommandLine.2.8.2\tools\NuGet.exe SetApiKey <Your API Key here>

call package.cmd

for %%i in (*.nupkg) do (
	.\packages\NuGet.CommandLine.2.8.2\tools\NuGet.exe push %%i
)